[submodule "spiffs/spiffs"]
	path = spiffs/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://git.savannah.gnu.org/git/lwip.git
[submodule "mbedtls/mbedtls"]
	path = mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
