config PARTITION_TABLE_OFFSET
    hex
    default 0x8000

# bootloader
config BOOTLOADER_OFFSET_IN_FLASH
    hex
    default 0x1000 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2
    default 0x0

# esp_app_format
config APP_RETRIEVE_LEN_ELF_SHA
    int
    default 16

rsource "$IDF_PATH/components/esp_system/Kconfig"
