# gcc execuable
*
!/**/
!*.*
!makefile

# gcc output
**/*.o
**/*.a

# ultracore output
ultracore/lib/
ultracore/_bin/
lib/
_bin/

# JLINK
**/JLink*.*

# keil garbage
**/*.uvguix.*
**/*.uvgui.*
**/*/*.uvoptx
**/*.scvd
**/RTE
**/Objects
**/Listings

# CMake
build/
CMakeFiles


# misc
*.log
.~*
*.old
flash_download_tool_3.9.3

# 3party
